/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

/* Colors */
:root {
  --color-default: #fff;
  --color-primary: #FFCF00;
  --color-secondary: #000000;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #FFCF00;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  margin-top: 20px;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 80px 0;
}

.section-header {
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 140px 0 60px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: "";
  background-color: rgba(37, 36, 33, 0.7);
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.breadcrumbs ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000000;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--color-primary);
  border-top-color: #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 24px 0;
}

@media (max-width: 1200px) {
  .header {
    padding: 12px 0;
  }
}

.header.sticked {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  font-family: var(--font-secondary);
  margin: 0;
}

#h3 {
  color: #FFCF00;
}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px 30px;
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #FFCF00;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-secondary);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(27, 47, 69, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: rgba(20, 35, 51, 0.6);
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.9);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-hide {
    color: rgba(255, 255, 255, 0.9);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9996;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 120%;
  min-height: 100vh;
  background: url("../img/HomePageImg.png") top right;
  background-size: right;
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 0;
  z-index: 3;
}


@media (min-width: 1034px) {
  .hero:after {
    position: absolute;
    content: "";
    width: 40%;
    background: var(--color-secondary);
    top: 0;
    bottom: 0;
  }
}

.hero:before {
  position: absolute;
  content: "";
  background: rgba(23, 23, 23, 0.7);
  inset: 0;
}


.hero .container {
  z-index: 1;
  margin: 50px;
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

.hero h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 2.0;
  color: #fff;
  font-family: var(--font-primary);
}

.hero h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 550;
  line-height: 1.5;
  color: #fff;
  font-family: var(--font-primary);
}

span {
  font-weight: 900;
}

.hero blockquote {
  color: #fff;
  padding-left: 20px;
  font-size: 15px;
  font-family: var(--font-default);
  border-left: 2px solid var(--color-primary);
  margin: 30px 0;
}

.hero .btn-learn-more {
  font-family: var(--font-primary);
  font-weight: 1000;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 22px 150px;
  border-radius: 10px;
  transition: 0.5s;
  color: #000000;
  background: var(--color-primary);
}

.hero .btn-get-started:hover {
  background: #FFCF00;
}

@media (max-width: 740px) {
  .hero h2 {
    font-size: 32px;
    line-height: 1;
    text-align: center;
    line-height: 2.0;
  }

  .hero h3 {
    font-size: 22px;
    line-height: 1;
    text-align: center;
    line-height: 2.0;
  }

  .hero blockquote {
    margin: 30px 0;
    padding-left: 20px;
    font-size: 15px;
  }


  .hero .btn-get-started {
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# Serivces Preview Section on Home/Index Page
--------------------------------------------------------------*/

.preview {
  padding-bottom: 0;
  background-color: black;
}

.div .preview{
  border-radius: 10px;
  border: 2px solid #FFCF00;
}

.preview .img-bg {
  min-height: 500px;
  background-size:cover;
}

.preview .slides {
  background-color: #2a2929;
}

.preview h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-default);
}

.preview .swiper {
  margin: 140px 140px 120px 140px;
  overflow: hidden;
}

.preview .swiper-button-prev:after,
.preview .swiper-button-next:after {
  font-size: 24px;
  color: var(--color-default);
}

.preview .swiper-button-prev {
  left: 80px;
}

.preview .swiper-button-next {
  right: 80px;
}

.preview .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.preview .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--color-secondary);
}

.preview .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media (max-width: 1200px) {
  .preview .swiper {
    margin: 60px 60px 40px 60px;
  }

  .preview .swiper-button-prev,
  .preview .swiper-button-next {
    display: none;
  }
}

@media (max-width: 575px) {
  .preview .swiper {
    margin: 40px 40px 20px 40px;
  }
}

.page-about .preview {
  padding: 0 0 80px 0;
}

/*------------------------------------------------------------------------
# ISSUE WITH JOIN NOW BUTTON (ITS NOT SHOWING AND ITS NOT IN THE CENTER)!!
-------------------------------------------------------------------------*/
.preview .btn-join-now {
  font-family: var(--font-primary);
  font-weight: 1000;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 150px;
  border-radius: 10px;
  transition: 0.5s;
  color: #000000;
  background: var(--color-primary);
  margin-top: 50px;
}




/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about {
  background-color: black;
}

.about .content p {
  margin: 20px 0px;
  text-align: center;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Services on About Page Section
--------------------------------------------------------------*/
.services {
  padding-bottom: 0;
  background-color: black;
}

.div .services{
  border-radius: 10px;
  border: 2px solid #FFCF00;
}

.services .img-bg {
  min-height: 500px;
  background-size:cover;
}

.services .slides {
  background-color: #2a2929;
}

.services h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-default);
}

.services .swiper {
  margin: 140px 140px 120px 140px;
  overflow: hidden;
}

.services .swiper-button-prev:after,
.services .swiper-button-next:after {
  font-size: 24px;
  color: var(--color-default);
}

.services .swiper-button-prev {
  left: 80px;
}

.services .swiper-button-next {
  right: 80px;
}

.services .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.services .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--color-secondary);
}

.services .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media (max-width: 1200px) {
  .services .swiper {
    margin: 60px 60px 40px 60px;
  }

  .services .swiper-button-prev,
  .services .swiper-button-next {
    display: none;
  }
}

@media (max-width: 575px) {
  .services .swiper {
    margin: 40px 40px 20px 40px;
  }
}

.page-about .services {
  padding: 0 0 80px 0;
}

.services .btn-join-now {
  font-family: var(--font-primary);
  font-weight: 1000;
  font-size: 15px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding: 22px 150px;
  border-radius: 10px;
  transition: 0.5s;
  color: #000000;
  background: var(--color-primary);
  margin-top: 50px;
}




/*--------------------------------------------------------------
# Dashboard Section
--------------------------------------------------------------*/
.page-dashboard {
  background-color: rgb(0, 0, 0);
}



/* Slider Section for Brand Spotlight */
.carousel-inner {
  margin-top: 5%;
}

.carousel-item {
  width: 100%;
  height: 550px;
}

.carousel-item h3{
  font-family: var(--font-primary);
  font-weight: bolder;
}

.carousel-item p{
  font-family: var(--font-primary);
  font-weight: 500;
}

.carousel-item h5{
  font-family: var(--font-primary);
  font-weight: bold;
  line-height: 0.8;
}




/* Section for for Orgs */
.container-orgs {
  position: relative;
  width: 100%;
  max-width: 410px;
  padding: 2em 1em;
  display:inline-block;
}

.container-orgs img {
  border: 1px solid var(--color-primary);
  width: 100%;
  height: 300px;
  border-radius: 2em;
}

/* Centered text */
.centered {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h3 {
  font-size: 17.5px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
}

.centered p {
  font-size: 14.5px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.container-orgs .view-btn-org {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFCF00;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.view-btn-org {
  width: 120px;
  text-align: center;
  font-weight: 900;
}

.container-orgs .btn:hover {
  background-color: black;
  color: white;
}




/* Section for Study Groups */
.study-group-swiper {
  width: 100%;
}

.study-group-swiper .swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{ 
  width: 260px;
  height: 67%;
  background-color: #101010;
  border-radius: 2em;
  box-shadow: 0 0 2rm rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  border: 1px solid var(--color-primary);
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.card__title, .card__name, .card_btn{
  font-family: var(--font-primary);
}

.card__title{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}

.card__memcount {
  color:#ffffff;
  font-weight: 500;
  line-height: 2.0;
}

.card__btn {
  background-color: var(--color-primary);
  color: #000000;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  padding: 7px 40px;
  border-radius: 10px;
  margin-top: .5em;
  cursor: pointer;
}


/*--------------------------------------------------------------
# Login/Signup Section
--------------------------------------------------------------*/
.page-login {
  background-color: black;
}

  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
    }
  }

  * {box-sizing: border-box}

/* Input field for First & Last Name */
input[type=text], input[type=name] {
  width: 100%;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}

/* Input field for Username */
input[type=text], input[type=username] {
  width: 100%;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}


/* Input field for Email */
input[type=text], input[type=email] {
  width: 100%;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}

/* Input field for Password */
input[type=text], input[type=password] {
width: 100%;
display: inline-block;
border: none;
background: #f1f1f1;
font-size: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button[type=submit] {
  background-color: #FFCF00;
  border: #FFCF00;
  color:rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 800;
  padding: 14px 20px;
  margin: 8px 0;
}

.label {
  font-weight: 800px;
}

/* Set a style for all buttons */
button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: 800;
}



/* Style for "Sign In" and "Create an Account" buttons */
button[type=submit] {
  background-color: #232323;
  color:#ffffff;
  border-radius: 8px;
}
/* Hover Color for buttons */
button[type=submit]:hover {
  opacity:1;
  color:#000000;
  background-color: #FFCF00;
}

/* Style for "Sign In/Continue with Google" buttons */
.googlebtn {
  background-color: #4c4c4c;
  border-radius: 8px;
  
}
/* Hover Color for buttons */
button[type=google]:hover {
  opacity:1;
  color:#FFCF00
}

.signupclick {
  text-align: center;
  justify-content: center;
}

button:hover {
  opacity:2;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


/*--------------------------------------------------------------
# Onboarding
--------------------------------------------------------------*/
/* Set a style for all buttons */
button[type=select] {
  background-color: #1d1d1d;
  border: #FFCF00;
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 800;
  padding: 25px 50px;
  margin: 8px 0;
  border-radius: 8px;
}

/* Hover Color for buttons */
button[type=select]:hover {
  opacity:1;
  color:#000000;
  background-color: #FFCF00;
}

.label {
  font-weight: 800px;
}

